<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Us</title>


    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Varela" rel="stylesheet">


    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap1.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/style1.css">

</head>
<body>
    <!-- Main content -->
    <main id="main" class="site-main">

        <!-- Team section -->
        <section class="site-section section-team" id="team">
            <div class="container">
                <h2>MEET MY TEAM</h2>
                <p class="section-subtitle"><span>Crew</span></p>
                
                <div class="team">
                    <div class="row">   
                        <!-- Team Member --> 
                        <div class="col-md-3 col-xs-6">
                            <div class="team-member">
                                <div class="flipper">
                                    <div class="team-member-front">
                                        <div class="team-member-thumb">
                                            <img src="../static/images/team/zb.jpg" class="img-res" alt="">
                                        </div>  <!-- /.team-member-thumb -->
                                        <p class="team-member-front-name">Koh Zheng Bin</p>
                                    </div><!-- /.team-member-front -->
                                    <div class="team-member-back">
                                        <div class="team-member-info">
                                            <h3 class="team-member-back-name">Koh Zheng Bin</h3>
                                            <p class="team-member-back-position">Cloud Expert</p>
                                            <button type="submit" formaction="/ys" style="margin-top: 25px; color: black; font-size: medium; background-color: cadetblue;">View Details</button>
                                        </div><!-- /.team-member-back-info -->
                                    </div><!-- /.team-member-back -->  
                                </div>         
                            </div><!-- /.team-member -->       
                        </div>
                        <!-- Team Member --> 
                        <div class="col-md-3 col-xs-6">
                            <div class="team-member">
                                <div class="flipper">
                                    <div class="team-member-front">
                                        <div class="team-member-thumb">
                                            <img src="../static/images/team/zm.jpg" class="img-res" alt="">
                                        </div>  <!-- /.team-member-thumb -->
                                        <p class="team-member-front-name">Chia Zheng May</p>
                                    </div><!-- /.team-member-front -->
                                    <div class="team-member-back">
                                        <div class="team-member-info">
                                            <h3 class="team-member-back-name">Chia Zheng May</h3>
                                            <p class="team-member-back-position">Cloud Expert</p>
                                            <button type="submit" formaction="/ys" style="margin-top: 25px; color: black; font-size: medium; background-color: cadetblue;">View Details</button>
                                        </div><!-- /.team-member-back-info -->
                                    </div><!-- /.team-member-back -->  
                                </div>         
                            </div><!-- /.team-member -->       
                        </div>
                        <!-- Team Member --> 
                        <div class="col-md-3 col-xs-6">
                            <div class="team-member">
                                <div class="flipper">
                                    <div class="team-member-front">
                                        <div class="team-member-thumb">
                                            <img src="../static/images/team/ys.jpg" class="img-res" alt="">
                                        </div>  <!-- /.team-member-thumb -->
                                        <p class="team-member-front-name">Goh Yi Shwea</p>
                                    </div><!-- /.team-member-front -->
                                    <div class="team-member-back">
                                        <div class="team-member-info">
                                            <h3 class="team-member-back-name">Goh Yi Shwea</h3>
                                            <p class="team-member-back-position">Cloud Expert</p>
                                            <button type="submit" formaction="/ys" style="margin-top: 25px; color: black; font-size: medium; background-color: cadetblue;">View Details</button>
                                        </div><!-- /.team-member-back-info -->
                                    </div><!-- /.team-member-back -->  
                                </div>         
                            </div><!-- /.team-member -->       
                        </div> 
                    </div>
                </div><!-- /.team -->   
            </div>
        </section><!-- /.section-team -->
        <!-- End Team section -->
        <form>
            <button type="submit" formaction="/" style="margin-left: 700px;">Go to Main Page</button>
        </form>
    </main><!-- /#main -->
    <!-- End Main content --> 
</body>
</html>
